## Data Visualization

In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
f500data= pd.read_csv("fortune500_data.csv")

In [4]:
f500data.head()

   Year  Rank           Company  Revenue Profit
0  1955     1    General Motors   9823.5    806
1  1955     2       Exxon Mobil   5661.4  584.8
2  1955     3        U.S. Steel   3250.4  195.4
3  1955     4  General Electric   2959.1  212.6
4  1955     5            Esmark   2510.8   19.1

In [5]:
f500data.describe()

              Year          Rank        Revenue
count  25500.00000  25500.000000   25500.000000
mean    1980.00000    250.499765    4273.329635
std       14.71989    144.339963   11351.884979
min     1955.00000      1.000000      49.700000
25%     1967.00000    125.750000     362.300000
50%     1980.00000    250.500000    1019.000000
75%     1993.00000    375.250000    3871.000000
max     2005.00000    500.000000  288189.000000

Question 1:
Generate a plot that details the 5 top Companies by Revenue for each Decade.
E.g., Top 5 for 1950-1959, 1960-1969, etc. This must be a single plot, either static or interactive.

To do this I must first identify the top 5 Companies by Revenue for each Decade. I create a new dataframe that
contains the top 5 companies in each year and put it in a new dataframe.

In [7]:
# Create an empty DataFrame with the same columns to store the top 5 companies by year
top_5_companies_by_year = pd.DataFrame(columns=f500data.columns)
#top_5_companies_by_year.head()

Empty DataFrame
Columns: [Year, Rank, Company, Revenue, Profit]
Index: []

In [25]:
# Iterate through each year and find the largest 5 by Revenue and pop it 
for year in range(1950, 2010):  # Change the range to your desired years
    # Filter the data for the current year and select the top 5 ranking companies
    top_5 = f500data[f500data['Year'] == year].nlargest(5, 'Revenue')
    #print (top_5)
     # Append the top 5 companies for the current year to the new DataFrame
    top_5_companies_by_year = pd.concat([top_5_companies_by_year, top_5], ignore_index=True)

# top_5_companies_by_year.head()
# top_5_companies_by_year.describe()
# Save the new DataFrame to a CSV file if needed
top_5_companies_by_year.to_csv("top_5_companies_by_year.csv", index=False)

# Display the new DataFrame
print(top_5_companies_by_year)

      Year Rank           Company   Revenue Profit
0     1955    1    General Motors    9823.5    806
1     1955    2       Exxon Mobil    5661.4  584.8
2     1955    3        U.S. Steel    3250.4  195.4
3     1955    4  General Electric    2959.1  212.6
4     1955    5            Esmark    2510.8   19.1
...    ...  ...               ...       ...    ...
2035  2005    1   Wal-Mart Stores  288189.0  10267
2036  2005    2       Exxon Mobil  270772.0  25330
2037  2005    3    General Motors  193517.0   2805
2038  2005    4        Ford Motor  172233.0   3487
2039  2005    5  General Electric  152363.0  16593

[2040 rows x 5 columns]

In [ ]:
# Load your company data into a pandas dataframe
df = pd.read_csv('company_data.csv')

# Convert the date column to a pandas datetime object
df['Year'] = pd.to_datetime(df['Year'])

# Group the data by company and decade and sum the revenue values
df_decade = df.groupby([df['Company'], df['Year'].dt.year // 10 * 10])['Revenue'].sum()

# Print the resulting dataframe
print(df_decade)

Next I must aggretate the company data by decade, 
so for each decade  aggregate each company's revenue in that 
decade and then rank the companies in that decade.
some decades are only 5 years

In [27]:
# Load the data from the saved CSV file
top5data = pd.read_csv("top_5_companies_by_year.csv")

# Extract the year from the 'Year' column
top5data['Year'] = pd.to_datetime(top5data['Year'], format='%Y').dt.year

# Filter the data for the years 1950 to 1959
filtered_data = top5data[(top5data['Year'] >= 1950) & (top5data['Year'] <= 1959)]

# Calculate the total revenue for the specified years
total_revenue = filtered_data['Revenue'].sum()

# Create a new DataFrame to store the total revenue for the specified years
total_revenue_df = pd.DataFrame({'Decade': ['1950-1959'], 'Total Revenue': [total_revenue]})

# Display the new DataFrame
print(total_revenue_df)

      Decade  Total Revenue
0  1950-1959      1192781.6

In [19]:
df = pd.read_csv("top_5_companies_by_year.csv")

# Extract the year from the 'Year' column
df['Year'] = pd.to_datetime(df['Year'], format='%Y').dt.year

# Filter the data for the years 1950 to 1959
filtered_data = df[(df['Year'] >= 1950) & (df['Year'] <= 1959)]

# Group the data by company and calculate the total revenue for each company during that period
company_total_revenue = filtered_data.groupby('Company')['Revenue'].sum().reset_index()

# Rename the columns for clarity
company_total_revenue.columns = ['Company', 'Total Revenue 1950-1959']

# Display the new DataFrame
print(company_total_revenue)

            Company  Total Revenue 1950-1959
0          Chrysler                   3466.2
1            Esmark                   2510.8
2       Exxon Mobil                  34434.5
3        Ford Motor                  20142.6
4  General Electric                  15505.6
5    General Motors                  53575.0
6        U.S. Steel                  19463.0

In [20]:
# Load the data from the CSV file
df = pd.read_csv("top_5_companies_by_year.csv")

# Extract the year from the 'Year' column
df['Year'] = pd.to_datetime(df['Year'], format='%Y').dt.year

# Filter the data for the years 1950 to 1959
filtered_data = df[(df['Year'] >= 1950) & (df['Year'] <= 1959)]

# Group the data by company and calculate the total revenue for each company during that period
company_total_revenue = filtered_data.groupby('Company')['Revenue'].sum().reset_index()

# Rename the columns for clarity
company_total_revenue.columns = ['Company', 'Total Revenue 1950-1959']

# Assign a rank to each company based on their total revenue
company_total_revenue['Rank'] = company_total_revenue['Total Revenue 1950-1959'].rank(ascending=False).astype(int)

# Add a column for the year range
company_total_revenue['Year Range'] = '1950-1959'

# Display the new DataFrame
print(company_total_revenue)

            Company  Total Revenue 1950-1959  Rank Year Range
0          Chrysler                   3466.2     6  1950-1959
1            Esmark                   2510.8     7  1950-1959
2       Exxon Mobil                  34434.5     2  1950-1959
3        Ford Motor                  20142.6     3  1950-1959
4  General Electric                  15505.6     5  1950-1959
5    General Motors                  53575.0     1  1950-1959
6        U.S. Steel                  19463.0     4  1950-1959

In [21]:
# Load the data from the CSV file
df = pd.read_csv("top_5_companies_by_year.csv")

# Extract the year from the 'Year' column
df['Year'] = pd.to_datetime(df['Year'], format='%Y').dt.year

# Filter the data for the years 1950 to 1959
filtered_data = df[(df['Year'] >= 1960) & (df['Year'] <= 1969)]

# Group the data by company and calculate the total revenue for each company during that period
company_total_revenue = filtered_data.groupby('Company')['Revenue'].sum().reset_index()

# Rename the columns for clarity
company_total_revenue.columns = ['Company', 'Total Revenue 1960-1969']

# Assign a rank to each company based on their total revenue
company_total_revenue['Rank'] = company_total_revenue['Total Revenue 1960-1969'].rank(ascending=False).astype(int)

# Add a column for the year range
company_total_revenue['Year Range'] = '1960-1969'

# Display the new DataFrame
print(company_total_revenue)

            Company  Total Revenue 1960-1969  Rank Year Range
0          Chrysler                  24608.1     5  1960-1969
1       Exxon Mobil                 106019.2     2  1960-1969
2        Ford Motor                  92174.7     3  1960-1969
3  General Electric                  57170.3     4  1960-1969
4    General Motors                 167221.2     1  1960-1969
5             Mobil                  16106.0     6  1960-1969
6        U.S. Steel                   7341.5     7  1960-1969

In [22]:

# Load the data from the CSV file
df = pd.read_csv("top_5_companies_by_year.csv")

# Extract the year from the 'Year' column
df['Year'] = pd.to_datetime(df['Year'], format='%Y').dt.year

# Determine the decades present in the data
min_year = df['Year'].min()
max_year = df['Year'].max()

# Create an empty DataFrame to store the results
result_df = pd.DataFrame(columns=['Year Range', 'Company', 'Total Revenue', 'Rank'])

# Iterate through each decade
for start_year in range(min_year, max_year + 1, 10):
    end_year = start_year + 9
    year_range = f"{start_year}-{end_year}"
    
    # Filter the data for the current decade
    decade_data = df[(df['Year'] >= start_year) & (df['Year'] <= end_year)]
    
    # Group the data by company and calculate the total revenue for each company during that decade
    company_total_revenue = decade_data.groupby('Company')['Revenue'].sum().reset_index()
    
    # Assign a rank to each company based on their total revenue within the decade
    company_total_revenue['Rank'] = company_total_revenue['Revenue'].rank(ascending=False).astype(int)
    
    # Add the 'Year Range' column
    company_total_revenue['Year Range'] = year_range
    
    # Append the results to the main DataFrame
    result_df = pd.concat([result_df, company_total_revenue], ignore_index=True)

# Display the final DataFrame
print(result_df)

   Year Range                  Company Total Revenue Rank    Revenue
0   1955-1964                 Chrysler           NaN    7     3466.2
1   1955-1964                   Esmark           NaN    8     2510.8
2   1955-1964              Exxon Mobil           NaN    2    78618.8
3   1955-1964               Ford Motor           NaN    3    54278.9
4   1955-1964         General Electric           NaN    4    38220.8
5   1955-1964           General Motors           NaN    1   120075.0
6   1955-1964                    Mobil           NaN    6    11606.6
7   1955-1964               U.S. Steel           NaN    5    26804.5
8   1965-1974                 Chrysler           NaN    5    46141.6
9   1965-1974              Exxon Mobil           NaN    2   158053.6
10  1965-1974               Ford Motor           NaN    3   147416.4
11  1965-1974         General Electric           NaN    4    82869.9
12  1965-1974           General Motors           NaN    1   238266.1
13  1965-1974  Intl. Business Machines           NaN    6    22974.9
14  1965-1974                    Mobil           NaN    7     4499.4
15  1975-1984            ChevronTexaco           NaN    6    84703.0
16  1975-1984              Exxon Mobil           NaN    1   726108.2
17  1975-1984               Ford Motor           NaN    5   282130.4
18  1975-1984           General Motors           NaN    2   553983.2
19  1975-1984  Intl. Business Machines           NaN    7    40180.0
20  1975-1984                    Mobil           NaN    3   415745.7
21  1975-1984                   Texaco           NaN    4   324903.1
22  1985-1994              Exxon Mobil           NaN    2   900543.0
23  1985-1994               Ford Motor           NaN    3   825422.3
24  1985-1994         General Electric           NaN    5   287939.0
25  1985-1994           General Motors           NaN    1  1148219.5
26  1985-1994  Intl. Business Machines           NaN    4   540866.0
27  1985-1994                    Mobil           NaN    6   266866.0
28  1985-1994                   Texaco           NaN    7    47334.0
29  1995-2004                     AT&T           NaN    6   154703.0
30  1995-2004                    Enron           NaN    7   138718.0
31  1995-2004              Exxon Mobil           NaN    4  1515497.0
32  1995-2004               Ford Motor           NaN    3  1544304.0
33  1995-2004         General Electric           NaN    5   777856.0
34  1995-2004           General Motors           NaN    1  1764996.0
35  1995-2004          Wal-Mart Stores           NaN    2  1626815.4
36  2005-2014              Exxon Mobil           NaN    2   270772.0
37  2005-2014               Ford Motor           NaN    4   172233.0
38  2005-2014         General Electric           NaN    5   152363.0
39  2005-2014           General Motors           NaN    3   193517.0
40  2005-2014          Wal-Mart Stores           NaN    1   288189.0

In [24]:
import pandas as pd

# Load the data from the CSV file
df = pd.read_csv("top_5_companies_by_year.csv")

# Extract the year from the 'Year' column
df['Year'] = pd.to_datetime(df['Year'], format='%Y').dt.year

# Determine the decades present in the data
# min_year = df['Year'].min()
# max_year = df['Year'].max()
min_year = 1950
max_year = 2020

# Create an empty DataFrame to store the results
result_df = pd.DataFrame(columns=['Year Range', 'Company', 'Total Decade Revenue', 'Rank'])

# Iterate through each decade
for start_year in range(min_year, max_year + 1, 10):
    end_year = start_year + 9
    year_range = f"{start_year}-{end_year}"
    
    # Filter the data for the current decade
    decade_data = df[(df['Year'] >= start_year) & (df['Year'] <= end_year)]
    
    # Group the data by company and calculate the total revenue for each company during that decade
    company_total_revenue = decade_data.groupby('Company')['Revenue'].sum().reset_index()
    
    # Assign a rank to each company based on their total revenue within the decade, starting from 1
    company_total_revenue['Rank'] = company_total_revenue['Revenue'].rank(ascending=False, method='first').astype(int)
    
    # Add the 'Year Range' column
    company_total_revenue['Year Range'] = year_range
    
    # Append the results to the main DataFrame
    result_df = pd.concat([result_df, company_total_revenue], ignore_index=True)

# Display the final DataFrame
print(result_df)

   Year Range                  Company Total Revenue Rank    Revenue
0   1950-1959                 Chrysler           NaN    6     3466.2
1   1950-1959                   Esmark           NaN    7     2510.8
2   1950-1959              Exxon Mobil           NaN    2    34434.5
3   1950-1959               Ford Motor           NaN    3    20142.6
4   1950-1959         General Electric           NaN    5    15505.6
5   1950-1959           General Motors           NaN    1    53575.0
6   1950-1959               U.S. Steel           NaN    4    19463.0
7   1960-1969                 Chrysler           NaN    5    24608.1
8   1960-1969              Exxon Mobil           NaN    2   106019.2
9   1960-1969               Ford Motor           NaN    3    92174.7
10  1960-1969         General Electric           NaN    4    57170.3
11  1960-1969           General Motors           NaN    1   167221.2
12  1960-1969                    Mobil           NaN    6    16106.0
13  1960-1969               U.S. Steel           NaN    7     7341.5
14  1970-1979                 Chrysler           NaN    8    21533.5
15  1970-1979              Exxon Mobil           NaN    2   346236.3
16  1970-1979               Ford Motor           NaN    3   246472.9
17  1970-1979         General Electric           NaN    6    48414.8
18  1970-1979           General Motors           NaN    1   370182.7
19  1970-1979  Intl. Business Machines           NaN    7    22974.9
20  1970-1979                    Mobil           NaN    4   132473.8
21  1970-1979                   Texaco           NaN    5   130742.9
22  1980-1989            ChevronTexaco           NaN    7    84703.0
23  1980-1989              Exxon Mobil           NaN    1   879478.6
24  1980-1989               Ford Motor           NaN    4   456981.1
25  1980-1989         General Electric           NaN    8    49414.0
26  1980-1989           General Motors           NaN    2   827287.7
27  1980-1989  Intl. Business Machines           NaN    5   255384.0
28  1980-1989                    Mobil           NaN    3   491367.9
29  1980-1989                   Texaco           NaN    6   241494.2
30  1990-1999                     AT&T           NaN    7   154703.0
31  1990-1999              Exxon Mobil           NaN    3  1051133.0
32  1990-1999               Ford Motor           NaN    2  1204086.7
33  1990-1999         General Electric           NaN    5   509013.0
34  1990-1999           General Motors           NaN    1  1473915.0
35  1990-1999  Intl. Business Machines           NaN    6   325662.0
36  1990-1999                    Mobil           NaN    8    58770.0
37  1990-1999          Wal-Mart Stores           NaN    4   541693.4
38  2000-2009                    Enron           NaN    6   138718.0
39  2000-2009              Exxon Mobil           NaN    2  1232291.0
40  2000-2009               Ford Motor           NaN    4  1005927.0
41  2000-2009         General Electric           NaN    5   659731.0
42  2000-2009           General Motors           NaN    3  1126875.2
43  2000-2009          Wal-Mart Stores           NaN    1  1373311.0